/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  margin:0;
}

#root {
  height: 100vh;
  background: #7921b1;
  color: white;
  font-family: sans-serif;
  overflow-y: hidden;
}
