/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  margin:0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  background: #7921b1;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4b1658;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #611874;
}

input[type=text], input[type=number], input[type=password] {
  padding: 0.5em 1em;
}

select, option {
  padding: 0.5em 0.5em;
}

.EditField {
  margin-bottom: 1em;
}
.FieldDescription {
  cursor: default;
  margin-bottom: 0.3em;
}


/* Helpful app-wide classes */
.Unselectable {
  /* Disable text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.FlexButton {
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 0.2em;
}


.EditorHeader {
  display: flex;
  align-items: center;
}
.EditorHeader h3 {
  flex: 1;
}
.EditorHeader button {
  height: 2em;
  margin-left: 0.5em;
  border: 1px solid darkgray;
}
.EditorHeader button:hover {
  cursor: pointer;
}
.EditorHeader button:disabled {
  opacity: 0.2;
}
.EditorHeader button.Apply {
  background: forestgreen;
  color: white;
}
.EditorHeader button.Abort {
  background: darkred;
  color: white;
}
