input[type=text].wide {
  width: 500px;
}

.ToggleHeader {
  display: flex;
  align-items: baseline;
}
.ToggleHeader:hover {
  cursor: pointer;
}
.ToggleHeader h3 {
  margin-right: 0.5em;
}
.ToggleIcon {
  background: white;
  color: purple;
  font-weight: bold;
  font-size: 0.6em;
  padding: 0.2em 0.6em;
  border-radius: 0.4em;
}

.ToggleBody.Hidden {
  display: none;
}
