.Main {
  display: flex;
  height: 100vh;
}

.MainNoOpus {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

.MainLeft {
  flex:2;
  min-width: 200px;
  border-right-width: 3px;
  border-right-style: ridge;
  padding: 1em;
}

.MainMid {
  flex: 8;
  padding: 0em;
}

.MainTabList {
  background: rgba(255, 255, 255, 0.2);
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0.5em 1em 0.5em 1em;
}

.MainTab {
	display: inline-block;
  position: relative;
  list-style: none;
  padding: 6px 12px 6px 12px;
  margin-right: 6px;
  cursor: pointer;

  /* Disable text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.MainTab:hover {
  background:rgba(255, 255, 255, 0.5);
}
.MainTab-Selected {
  background: white;
  color: black;
  z-index: 3;
}
.MainTab-Selected:hover {
  background: white;
}

.MainTabPanel-Selected {
  overflow-y: hidden;
}

/* Hack to get scrolling to work properly */
.react-tabs {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.react-tabs__tab-panel:not(.MainTabPanel-Selected) {
  display: none;
}
