.Main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  overflow: hidden;
}

.MainNoOpus {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

.AttributeEditor {
  padding: 0em 1em;
  border-left: 1px solid;
  overflow-y: auto;
  overflow-x: hidden;
}
