.Nodes {
  display: flex;
  height: 100%;
}

.NodesList {
  overflow-y:auto;
  padding: 1em;
  flex: 1;
}

.NodesNode {
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  border: 1px solid white;

  /* Disable text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.NodesNode.odd {
  background: #7f27b6;
}
.NodesNode.even {
  background: #661b94;
}
.NodesNode:hover{
  cursor: pointer;
}
.NodesNode:not(.selected):hover {
  background: rgba(255, 255, 255, 0.1);
}
.NodesList.ActiveSelection .NodesNode {
  opacity: 0.4;
}
.NodesList.ActiveSelection .NodesNode.selected {
  opacity: 1;
}

.NodesEditor {
  flex: 1;
  padding: 1em;
}
