.NodesList {
  overflow-y:auto;
  padding: 1em;
  flex: 1;
}

.NodesNode {
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 0.5em;
  border: 1px solid white;

  /* Disable text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.NodesNode.odd {
  background: #7f27b6;
}
.NodesNode.even {
  background: #661b94;
}
.NodesNode:hover{
  cursor: pointer;
}
.NodesNode:not(.selected):hover {
  background: rgba(255, 255, 255, 0.1);
}
.NodesList.ActiveSelection .NodesNode {
  opacity: 0.4;
}
.NodesList.ActiveSelection .NodesNode.selected {
  opacity: 1;
}

.NodesNode div {
  overflow: hidden;
  flex: 1;
  padding: 0.5em 0.5em 0.5em 0em;
}
.NodesNode .NodeRemoveButton {
  height: 100%;
  border-left: 1px solid;
  padding: 0.6em 0.8em 0.4em 0.8em;
}
.NodesNode .NodeRemoveButton:hover {
  background: darkred;
}
.NodesNode .NodeMoveHandle {
  height: 100%;
  padding: 0.6em 0.5em 0.4em 0.5em;
}
.NodesNode .NodeMoveHandle:hover {
  cursor: move;
  cursor: grab;
}
.NodesNode.DropTarget {
  margin-bottom: 2em;
}


.NodeAddButton {
  width: 100%;
  padding: 0.5em 0em;
  margin-bottom: 0.5em;
}
